/**Form colors**/
$form-field-background-color: #445065;
$form-font-color:#7a828e;
$form-text-color: #f7f8f9;
$form-background-color:#687a94;
$form-submit-text:#576173;

/**Header colors **/
$header-link-text-color:#a7b6be;
$header-logo-color:#7a899d;

/**Hero colors **/
$hero-border-color:#868d96;
$hero-background-color:#9aa6b5;

/**Detail area colors**/
$detail-text-color: #8696ac;
$detail-summary-color: #aaaeb3;
$testimonial-quote-color: #d2dbe1;
$testimonial-attribution-color: #a0acb4;
$testimonial-background-color: #f5f8fb;
$testimonial-text-color: #7b8da5;
$testimonial-image-boarder-color:#eceff2;

/**Footer colors*/
$footer-background-color: #3d4a5d;
$footer-text-color:#c7ccd6;


/**helper classes for adjusting the layout*/
.blue {
	background-color: dodgerblue;
}

.yellow {
	background-color: lightgoldenrodyellow;
}

.green {
	background-color: seagreen;
}

.orange {
	background-color: darkorange;
}

