@media #{$breakpoint-large} {
		
	 .wrapper {
	    width: 95%;
	    max-width: $grid-max-width; 
	}

	@for $i from 1 through $grid-columns {
	 
	    .column-#{$i} { 
	        width: 100% / $grid-columns * $i;
	    }
	 
	}
     
}
